.hiDasboard{
   font-size:20px;
   text-align: left;
   padding-right: 100px;
   margin-bottom :20px;
}

 .logout {
        background: rgb(243, 11, 166);
        color: black;
        border: 2px black;
        border-radius: 4px;
        font-size: 20px;
        padding: 7px;
        width: 100px;
        font-weight: bold;
        text-align: center;
        box-shadow: 1px 1px 1px 1px rgb(9, 68, 50);
        margin-top: 0px;
        padding-bottom:20px ;
        font-family: Roboto;
        height: 40px;
        }