.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1.2rem 0;
  border: 0.1px solid #FFFFFF;
}
.headers__menu{
  padding-right: 2rem;
}
.headers__logo {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.11rem;
  color: #fff;
  padding-left: 2rem;
  font-family: Roboto;
}
.headers__menu__item {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.11rem;
  font-size: 2.4rem;
  font-family: Roboto;
}
.headers__menu__select {
  padding: 0.6rem;
  border-radius: 0.5rem;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: Roboto;
}

@media(max-width: 786px) {
  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background-color: #0c8f97;
  }

  nav.black ul {
  background-color: #0c8f97;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 7px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}
