@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.hiDasboard{
   font-size:20px;
   text-align: left;
   padding-right: 100px;
   margin-bottom :20px;
}

 .logout {
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 0px;
  font-size: 1.7rem;
  padding: .8rem 3rem;
  outline: none;

  &:hover{
     background: rgba(220, 53, 69, .6)
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hei-100 {
  height: 100vh;
  font-family: 'Open Sans';
}

.leftside {
  background-color: #040f23;
  color: #fff;
}

.rightside {
  background-color: #ecfafb;
}

// Sidebar
.sidebar {
  h1 {
    letter-spacing: 0.4rem;
    line-height: 2;
  }

  .sidebar__profile {
    @extend .flex-center;
    margin: 5rem 0;

    h3 {
      margin: 0 1rem;
    }
  }
}

.topbar {
  background-color: #fff;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  flex: 1;

  form {
    Input {
      font-size: 1.5rem;
    }

    Button {
      font-size: 1.5rem;
    }
  }

  div {
    display: flex;
  }
}

.button_icon,
.button_icon a {
  display: flex;
  align-items: center;

  Button,
  a {
    @extend .flex-between;
    font-size: 1.5rem;
  }
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  width: 100%;
  padding: 0;
}

.nav-link {
  display: inline-flex;
  width: 100%;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  .tab-link {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      margin-left: 1rem;
    }
  }

  &:hover {
    background-color: #ecfafb;
    color: #000;
  }
}

.modal__button {
  font-size: 1.5rem;
  padding: 0.7rem 1.2rem;
}

.modal-title {
  font-size: 3rem;
}

label {
  font-size: 1.5rem;
}

.form-group {
  margin: 1.5rem 0 !important;
}

.form-control {
  font-size: 1.5rem !important;
}

.alert{
  font-size: 1.5rem;
}
